main, .navbar-brand {
    padding: 0 5%;
}

label {
    display: flex;
    margin: auto 0;
}

.indent-in-1 {
    background-color: rgb(249.5,249.5,250);
    border-radius: 10px;
    border: 1px solid rgb(222,226,230);
    padding: 20px 20px 9px 20px;
}

/* .input-group-text {
    width: 100px;
} */

/* .input-group-text-medium {
    width: 118px;
}
.input-group-text-large {
    width: 217px;
} */

#non-seasonal-shoulder {
    margin-bottom: 0 !important; 
}

#fixed-rate, #time-of-use {
    display: none;
}

.input-group {
    max-width: 100%;
}

input {
    min-width: 50px !important;
    /* max-width: 100%; */
    /* min-width: 300px; */
    /* max-width: 400px */
}

@media (max-width: 600px) {
    * {
        font-size: 11px;
    }
}

.contact-logo {
    width: 24px;
    fill: black;
}

.links {
    display: flex;
    gap: 15px;
}